# generated with:
#   gcloud artifacts print-settings npm --project=sf-dev-1b4e41f578 --location=us --repository=sf-npm --scope=@salesfloor
@salesfloor:registry=https://us-npm.pkg.dev/sf-dev-1b4e41f578/sf-npm/
//us-npm.pkg.dev/sf-dev-1b4e41f578/sf-npm/:always-auth=true
